@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  background: theme("colors.slate.950");
  color: theme("colors.slate.100");
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display text-slate-100;
  }

  p,
  span,
  li {
    @apply text-slate-200;
  }
}
